---
import "~/styles/index.css";

import MetaTags from "~/components/core/MetaTags.astro";
import BasicScripts from "~/components/core/BasicScripts.astro";

const { meta = {} } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="h-full motion-safe:scroll-smooth" data-theme="dark">
  <head>
    <MetaTags {...meta} />
  </head>

  <body
    class="antialiased h-full overflow-x-hidden text-base bg-default text-default selection:bg-secondary selection:text-white"
  >
    <slot />
    <BasicScripts />
    <style is:global>
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
