---
import About from "~/components/about.astro";
import Expo from "~/components/expo.astro";
import Footer from "~/components/footer.astro";
import Header from "~/components/header.astro";
import Intro from "~/components/intro.astro";
import Services from "~/components/services.astro";
import Splash from "~/components/splash.astro";
import Layout from "~/layouts/BaseLayout.astro";
import { SITE } from "~/config.mjs";
import "~/styles/index.css";
import { getCanonical, getHomePermalink } from "~/utils/permalinks";
const meta = {
  title: SITE.title,
  description: SITE.description,
  canonical: getCanonical(getHomePermalink()),
};
---

<Layout meta={meta}>
  <Header />
  <Splash />
  <div class="px-8 py-32 space-y-24">
    <Intro />
    <Services />
    <About />
    <Expo />
  </div>
  <Footer />
</Layout>
